<h1>Sample Angular App</h1>
<nav>
  <a
    class="button"
    routerLink="/index.html"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Welcome
  </a>
  |
  <a
    class="button"
    routerLink="/crisis-list"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Crisis Center
  </a>
  |
  <a
    class="button"
    routerLink="/heroes-list"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Heroes
  </a>
</nav>

<router-outlet></router-outlet>
